<apx-chart
  [series]="klineChart1.series"
  [chart]="klineChart1.chart"
  [dataLabels]="klineChart1.dataLabels"
  [markers]="klineChart1.markers"
  [title]="klineChart1.title"
  [fill]="klineChart1.fill"
  [yaxis]="klineChart1.yaxis"
  [xaxis]="klineChart1.xaxis"
  [tooltip]="klineChart1.tooltip"
  [autoUpdateSeries]="klineChart1.true"
></apx-chart>
<apx-chart
  [series]="klineChart2.series"
  [chart]="klineChart2.chart"
  [dataLabels]="klineChart2.dataLabels"
  [markers]="klineChart2.markers"
  [title]="klineChart2.title"
  [fill]="klineChart2.fill"
  [yaxis]="klineChart2.yaxis"
  [xaxis]="klineChart2.xaxis"
  [tooltip]="klineChart2.tooltip"
  [autoUpdateSeries]="klineChart2.true"
></apx-chart>