.card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.candlestick-content {
    padding-left: 0px;
}

@media (max-width: 600px) {
    .card-title {
        font-size: large;
    }
}

@media (max-width: 374px) {
    .card-content {
        padding: 12px;
    }
    .candlestick-content {
        padding-left: 0;
    }
}

.card-title.text {
    padding: 0 12px 0 12px;
}

.top-row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.top-row-column {
    padding-bottom: 28px;
}

.material-icons{
    display: inline-flex;
    vertical-align: middle;
}
.card-panel {
    height:100%;
}
.fix-card {
    height: 400px;
}
i {
    padding: 4px
}
.card {
    background-color: #37474f;
    min-height: 100%;
    height: auto;
}

.input-field{
    color: #ffffff !important;
}

.input-field-select {
    margin-bottom: 24px;
}

input {
    color: #ffffff !important
}

.box {
    position:relative;
    min-height: 60px;
    height: auto;
    background: black;
    overflow: hidden;
    background: #9c27b0;
    background: -webkit-linear-gradient(#263238d9, #9c27b0), url("https://c0.wallpaperflare.com/preview/406/205/312/cryptocurrency-coin-blockchain-money.jpg");
    background-position: center;
    display: flex;
    align-items: center;
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 10px;
    width: 100%;
    height: 100%;
}

.label-lifted {
    transform: translateY(-14px) scale(0.8);
}

.fixed-width {
    display: inline-block;
    width: 11.3rem;
}

i {
    margin-right: 0.3rem;
}

