
.material-icons{
    display: inline-flex;
    vertical-align: middle;
}
.card-panel {
    height:100%;
}
.make-flex {
    display: flex
}
i {
    padding: 4px
}
.card {
    background-color: #37474f;
    min-height: 100%;
}

.box {
    position:relative;
    height: 120px;
    background: black;
    overflow: hidden;
    background: #9c27b0;
    background: -webkit-linear-gradient(#263238d9, #9c27b0), url("https://c0.wallpaperflare.com/preview/406/205/312/cryptocurrency-coin-blockchain-money.jpg");
    background-position: center;
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 20px;
    width: 100%
    
}
